<p id="notice"><%= notice %></p>

<p>
  <strong>Periodicity:</strong>
  <%= @inspeccion.periodicity %>
</p>

<%= link_to 'Edit', edit_project_inspeccion_path(@inspeccion) %> |
<%= link_to 'Back', project_inspeccions_path %>
