
<footer class="azul text-white">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <h5 class="text-nowrap ml-5 text-left">Safety Solutions App</h5>
                </div>
                <div class="col-8">
                    <div class="justify-content-between text-rigth py-2 mr-0">
                         <i class="fab fa-github-square fa-2x pl-2"></i> 
                        <i class="fab fa-linkedin fa-2x pl-2"></i>
                        <i class="fab fa-twitter-square fa-2x pl-2"></i>
                        <i class="fab fa-facebook fa-2x pl-2"></i>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </footer>