<nav class="navbar navbar-expand-lg text-light bg-dark">
    <a class="navbar-brand">
      <%= link_to "Chart", root_path, class: "nav-link" %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Categories", categories_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to "Kinds", kinds_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Bookmarks", bookmarks_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
</nav>