<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%#= @check_list.date %>
</p>

<p>
  <strong>Hazard type:</strong>
  <%#= @check_list.hazard_type %>
</p>

<%= link_to 'Edit', edit_check_list_path(@check_list) %> |
<%= link_to 'Back', check_lists_path %>
