
        <p id="notice"><%= notice %></p>
          <h1 class="text-center mt-5 mb-2">Verification</h1>
      <div class="container pt-3">
              <div class="table-responsive shadow text-center">
                <table class="table table-index">
                  <thead class="thead-dark">
                    <tr class="text-center">
                      <th scope="col"> check_list_items</th>
                      <th colspan="2">Actions</th>
                    </tr>
                  </thead>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <input type="checkbox" aria-label="Checkbox for following text input">
                          </div>
                        </div>
                          <input type="text" class="form-control" aria-label="Text input with checkbox">
                      </div>

                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <input type="radio" aria-label="Radio button for following text input">
                            </div>
                          </div>
                            <input type="text" class="form-control" aria-label="Text input with radio button">
                        </div>
                </div>
        </div>
