<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contractor_type.name %>
</p>

<%= link_to 'Edit', edit_contractor_type_path(@contractor_type) %> |
<%= link_to 'Back', contractor_types_path %>
