// styling for carousel

.carousel {
  position: relative;
  width: 960px;
  margin: auto;

  &-wrap {
    overflow: hidden;
  }

  &-stage {
    position: relative;
    white-space: nowrap;
    left: 0;
  }

  &-item {
    width: 236px;
    height: 300px;
    overflow: hidden;
    background-color: #000;
    text-align: center;
    display: inline-block;
    color: #FFFFFF;

    .image {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &-controls {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    top: 0;
    align-items: center;

    & > button {
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 20px;
      box-shadow: 0 0 0 1px rgba(0,0,0,0.04), 0 4px 8px 0 rgba(0,0,0,0.20);
    }

    & > button:hover {
      cursor: pointer;
    }

    & > button#prev-button {
      transform: translateX(-50%);
    }

    & > button#next-button {
      transform: translateX(50%);
    }

    & > button:disabled {
      background-color: #9E9E9E;
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}
